.page-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);    
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;           
}
.navbar__logo {
    max-width: 30rem;
}
.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}
.navbar__item__cart{
    font-size: x-large;
}
.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}
.navbar__link:hover {
    background-color: var(--primary-900);
}
.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}
.with-icon iconify-icon svg {
    color: var(--light-bg-solid);
}
.with-submenu:hover .submenu {
    display: block;
}
.submenu {
    display: none;
    width: 20rem;    
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}
.submenu__link {
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-xsmall);
    transition: background .3s ease-in-out;
}
.submenu__link:hover {
    background-color: var(--primary-900);
}

.navbar-toggle{
    display: none;
}
.navbar__link svg{
    font-size: medium;
}

@media screen and (max-width: 1024px) {      
    .navbar-toggle{
        font-size: xx-large;          
        background: none;              
        display: flex;
        justify-items: center;
        align-items: center;
    }  
    .navbar__menu {
        display: none;
        list-style: none;
        padding: 0;
    }
      
    .navbar__menu.active {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 22rem;
        right: 0;
        top: 8rem;    
        position: absolute;
        background-color: var(--dark-bg-solid);
        z-index: 3;
    }
      
    .navbar__menu li {
        margin-bottom: 10px;
    }
      
    .navbar-toggle {
        cursor: pointer;
    }
      
    .toggle-icon {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: all 0.3s ease;
    }  
}