table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: var(--dark-bg-solid);
    color: #FAFAFF;
    padding: var(--spacing-8);
}

th, td {
    border: 1px solid var(--dark-solid);
    font-size: var(--font-medium);
}

tr {
    text-align: center;
}

.title__table-container {
    font-size: var(--font-large);
    padding: var(--spacing-8);
}