@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

/* VARIABLES */
:root {
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    --spacing-196: 19.6rem;
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}
/* NORMALIZE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}
body {
    position: relative;
    min-height: 100vh;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
ul, ol {
    list-style-type: none;
}
img {
    width: 100%;
}
input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}

.container {
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid-fixed {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* COMPONENT BUTTON */
.btn {
    border: none;
    cursor: pointer;
}
.btn--primary {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    transition: background 0.2s ease-in-out;
}
.btn--primary:hover {
    background-color: var(--secondary-solid);
}
.btn--medium {
    padding: var(--spacing-8) var(--spacing-16);
}
.btn--large {
    padding: var(--spacing-12) var(--spacing-28);
}

/* ANIMATIONNS */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1280px) {
    .container{
        min-width: 1000px;
        max-width: 1000px;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        min-width: 768px;
        max-width: 768px;
    }
}
@media screen and (max-width: 880px) {
    .container{
        min-width: 580px;
        max-width: 580px;
    }
}